body {
    background-color: #1F2937;
    margin: 0;
}
.white-text {
    color: #f9faf8;
}
li a, .welcome p {
    color: #e5e7eb;
}
.blue-back {
    background-color: #3882f6;
}
.card {
    border: 2px solid #3882f6;
    border-radius: 10px;
}
.info {
    background-color: #ffffff;
}
.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}
.footer {
    color: #ffffff;
}
.signature {
    font-weight: bold;
    font-style: normal;
}


